<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-md-autos">
        <div class="alert alert-danger container-fluid" role="alert">
            <h4 class="alert-heading"><%=err.message%></h4>
            <% if (process.env.NODE_ENV !== 'production') { %> 
            <p><%= err.stack %></p>
            <% } %> 
            <hr>
        </div>
    </div>
</div>